.fakeimg
{
    height: 200px;
    background: #aaa;
}
.imgres
{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 30px;
}
.link
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.link:hover
{
    color: black;
}