/* 3*3 Grid */
#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
  width: 80px;
  height: 52px;
  margin: auto;
  border: 1px solid #0499f2;
  background-color: #0499f2;
  background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%);
  color: white;
  border-radius: 6px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
b
{
  color: #26f596;
}
/* Reset Button */
#but {
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  border: 1px solid #0499f2;
  margin: auto;
  border-radius: 4px;
  background-color: #0499f2;
  background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Player turn space */
#print {
  color: dodgerblue;
  font-size: 20px;
}

/* Main Container */
#main {
  text-align: center;
}

/* Game Instruction Text */
#ins {
  color: dodgerblue;
  font-size: 17px;
}
